@import "../App.css";

.nav {
  background: $black;
  border-bottom: 3rem solid $red;

  .titleContainer {
    display: flex;
    justify-content: center;
  }
  .title {
  position: relative;
  text-transform: uppercase;
  font-size: 8rem;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, $black, $red, $black);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 4s linear infinite;
  background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}
  .nav_links {
    display: flex;
    list-style-type: none;
    color: $red;
    margin-right: 2rem;
  }
  .nav_link {
    text-align: center;
    color: inherit;
    text-decoration: inherit;
    margin: 0 auto;
    padding: 0.8rem 0.3rem 1rem 0.3rem;
    font-size: 3rem;
    letter-spacing: 2px;
    transition: all 0.2s linear;
    &:hover {
      color: $white;
    }
  }
}
